/* ******************************************************************************* */
/* F O N T S                                                                       */
/* ******************************************************************************* */
@font-face {
	font-family: BPreplayRegular;
	src: url("fonts/BPreplay.otf") format("opentype");
}

@font-face {
	font-family: BPreplayBold;
	font-weight: bold;
	src: url("fonts/BPreplayBold.otf") format("opentype");
}

/* ******************************************************************************* */
/* ******************************************************************************* */
/* ******************************************************************************* */
html, body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/22px BPreplayRegular,Helvetica,Arial;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

a:link { text-decoration: none; }
a:hover { text-decoration: underline; background: #ffff00; }
a:visited { color: #404040; }

.info {
	font: 10pt BPreplayBold,Helvetica,Arial;
	line-height: 44px;
	padding: 0 0 0 12px;
}

p {
	margin-bottom: 15px;
}

input {
	display: block;
}

#container {
	width: 300px;
	margin: 0 auto 0 auto;
}

.flash {
	font-size: 0.85em;
}
.alert {
	color: red;
	font-weight: bold;
}

.warning {
	color: magenta;
}

.notice {
	color: blue;
}

#menu {
}

#menu dd {
	font-size: 0.75em;
	color: darkgrey;
	margin: 0 0 1em 0;
	padding: 0;
}

/* ******************************************************************************* */
/* ******************************************************************************* */
/* ******************************************************************************* */
#header {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	opacity: 0.75;
}

#header .logout {
	position: absolute;
	top: 6px;
	right: 12px;
	text-align: right;
	padding: 8px 8px 8px 8px;
}

.logout a:link { color: white; }
.logout a:hover { background: red; text-decoration: none; }
.logout a:visited { color: white; }

#dialog {
	float: left;
}

#forms {
	margin: 0 12px 0 24px;
	float: left;
}

.form p {
	color: darkgrey;
	font-size: 0.85em;
	margin: 0 0 8px 0;
	padding: 0;
}

label {
	display: block;
	font-size: 0.85em;
	color: darkgrey;
}

/* ******************************************************************************* */
/* ******************************************************************************* */
/* ******************************************************************************* */
.resultset {
	margin: 0 12px 0 24px;
}

.resultset ul {
	margin: 0 0 24px 8px;
}

.resultset ul li {
	color: darkgreen;
	list-style-type: none;
}